/* https://www.youtube.com/watch?v=p1GmFCGuVjw&t=50s&ab_channel=Codehal */
body{
    background: #E7E2DE;
    font-family: "Poppins";
}
header{
    margin:auto;
    width: 0;
}
.container{
    position:relative;
    width: 400px;
    height: 560px;
    background: white;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.form-box {
    width: 100%;
    padding: 40px;
}
.form-box h2,h4{
    color: #5D3F35;
}
h2{
    position: relative;
    top: 10px;
}

h2, h4{
    text-align: center;
}
.form-box{
    position: relative;
    bottom: 35px;
    /* display: block; */
    margin: -35px;
    
}
.input-box {
    position: relative;
    /* width: 100%; */
    height: 40px;
}
input{
    /* color:#FEF9F4; */
    background: #FEF9F4;
    border: 1px solid lightgray;
    border-radius: 5px;

    width: 250px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    /* margin-bottom: 0px;
    display:inline-block; */
    
    /* width: 100px; */
}
::placeholder{
    position: relative;
    left: 3px;
    color: #5d3f3591;
}
label{
    /* display: inline-block; */
    /* text-align: right; */
    width: 130px;
    float: left;
    color: #5D3F35;
    font-size: small;
}
.logo{
    /* width: 50px;
    height: 50px; */
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35px;

}
.btn{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    display: block;
    color: #5D3F35;
    background: #FEF9F4;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    font-family: "Poppins";
}
input:focus{
    border: solid 1px gold;
    outline:none;
}