.mediaViewInfo {
	--web-view-name: Journal_Empty;
	--web-view-id: Journal_Empty;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Journal_Empty;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Journal_Empty {
	position: absolute;
	width: 1440px;
	height: 1024px;
	background-color: rgba(231,226,222,1);
	overflow: hidden;
	--web-view-name: Journal_Empty;
	--web-view-id: Journal_Empty;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#entry {
	position: absolute;
	width: 977px;
	height: 760px;
	left: 225px;
	top: 193px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(234,218,214,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 995px;
	height: 778px;
	left: 0px;
	top: 0px;
}
#sleep_entry {
	left: 39px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 905px;
	height: 682px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,1);
}
#Write_however_you_are_feeling {
	left: 41px;
	top: 27px;
	position: absolute;
	overflow: hidden;
	width: 398px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,0.6);
}
#Nav_Bar {
	position: absolute;
	width: 981px;
	height: 70px;
	left: 225px;
	top: 31px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(254,249,244,1);
}
.Rectangle_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 999px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#Settings {
	left: 847px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Analytics {
	left: 709px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Forms {
	left: 592px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Journal {
	left: 474px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Journal_Main.html;
	cursor: pointer;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Reminders {
	left: 318px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Dashboard {
	opacity: 0.997;
	left: 157px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#sonria_logo {
	position: absolute;
	width: 55px;
	height: 49.42px;
	left: 36px;
	top: 9px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(240,222,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 51px;
	left: 124px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
#Today_is_Saturday_February_25 {
	left: 436px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 560px;
	height: 54px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(135,95,74,1);
}
#back_arrow_icon {
	position: absolute;
	width: 51.38px;
	height: 51.38px;
	left: 225px;
	top: 121px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Journal_Main.html;
	cursor: pointer;
}