.mediaViewInfo {
	--web-view-name: Journal_Check_In;
	--web-view-id: Journal_Check_In;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Journal_Check_In;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Journal_Check_In {
	position: absolute;
	width: 1440px;
	height: 1024px;
	background-color: rgba(231,226,222,1);
	overflow: hidden;
	--web-view-name: Journal_Check_In;
	--web-view-id: Journal_Check_In;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#Rectangle_1 {
	fill: rgba(234,218,214,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 995px;
	height: 778px;
	left: 225px;
	top: 193px;
}
#notes {
	position: absolute;
	width: 566px;
	height: 202px;
	left: 264px;
	top: 588px;
	overflow: visible;
}
#What_are_you_doing {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 398px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,0.6);
}
#Need_to_practice_my_presentati {
	left: 0px;
	top: 37px;
	position: absolute;
	overflow: visible;
	width: 567px;
	height: 165px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,1);
}
#classes {
	position: absolute;
	width: 314px;
	height: 258px;
	left: 874px;
	top: 612px;
	overflow: visible;
}
#Classes_I_went_to_today {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 315px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,0.6);
}
#class_3 {
	position: absolute;
	width: 281px;
	height: 52px;
	left: 0px;
	top: 206px;
	overflow: visible;
}
#circle_check {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(198,180,168,1);
}
.Ellipse_1 {
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Icon_feather-check {
	fill: transparent;
	stroke: rgba(234,218,214,1);
	stroke-width: 4px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_feather-check {
	overflow: visible;
	position: absolute;
	width: 34.169px;
	height: 24.43px;
	left: 10.744px;
	top: 15.199px;
	transform: matrix(1,0,0,1,0,0);
}
#GUI_Programming_II {
	left: 77px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,63,53,1);
}
#sleep_entry {
	opacity: 0.45;
	left: 77px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,63,53,1);
}
#class_2 {
	position: absolute;
	width: 281px;
	height: 52px;
	left: 0px;
	top: 52px;
	overflow: visible;
}
#Ellipse_1_y {
	fill: rgba(198,180,168,1);
}
.Ellipse_1_y {
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 65px;
	left: 0px;
	top: 1px;
}
#Prob__Stats_1 {
	left: 77px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,63,53,1);
}
#sleep_entry_ {
	opacity: 0.45;
	left: 77px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,63,53,1);
}
#class_1 {
	position: absolute;
	width: 281px;
	height: 52px;
	left: 0px;
	top: 129px;
	overflow: visible;
}
#Ellipse_1_ {
	fill: rgba(198,180,168,1);
}
.Ellipse_1_ {
	filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 65px;
	left: 0px;
	top: 1px;
}
#Cloud_Computing {
	left: 77px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,63,53,1);
}
#sleep_entry_ba {
	opacity: 0.45;
	left: 77px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(93,63,53,1);
}
#tasks {
	position: absolute;
	width: 314px;
	height: 163px;
	left: 874px;
	top: 220px;
	overflow: visible;
}
#tasks_ {
	position: absolute;
	width: 299px;
	height: 122px;
	left: 0px;
	top: 41px;
	overflow: visible;
}
#Ellipse_2 {
	fill: rgba(93,63,53,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 0px;
	top: 9px;
}
#Print_resume_for_career_fair {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,63,53,1);
}
#Ellipse_3 {
	fill: rgba(93,63,53,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 0px;
	top: 57px;
}
#Checkout_book_from_library {
	left: 17px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 283px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,63,53,1);
}
#Ellipse_4 {
	fill: rgba(93,63,53,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 6px;
	left: 0px;
	top: 105px;
}
#Find_tutoring_center_hours {
	left: 17px;
	top: 96px;
	position: absolute;
	overflow: visible;
	width: 271px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,63,53,1);
}
#School_tasks {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 315px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,0.6);
}
#description {
	position: absolute;
	width: 541px;
	height: 179.706px;
	left: 264px;
	top: 360.62px;
	overflow: visible;
}
#cal_3 {
	position: absolute;
	width: 536px;
	height: 36.706px;
	left: 5px;
	top: 143px;
	overflow: visible;
}
#sleep_entry_bg {
	left: 48px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 489px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,63,53,1);
}
#cal_empty {
	position: absolute;
	width: 32px;
	height: 36.706px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#cal_2 {
	position: absolute;
	width: 536px;
	height: 36.706px;
	left: 5px;
	top: 88px;
	overflow: visible;
}
#sleep_entry_bj {
	left: 48px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 489px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,63,53,1);
}
#cal_empty_bk {
	position: absolute;
	width: 32px;
	height: 36.706px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#cal_1 {
	position: absolute;
	width: 536px;
	height: 36.706px;
	left: 5px;
	top: 37px;
	overflow: visible;
}
#sleep_entry_bm {
	left: 48px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 489px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,63,53,1);
}
#cal_filled {
	position: absolute;
	width: 32px;
	height: 36.706px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#What_describes_your_feelings {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 398px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,0.6);
}
#feeling {
	position: absolute;
	width: 428px;
	height: 102px;
	left: 264px;
	top: 220px;
	overflow: visible;
}
#emoji_bar {
	position: absolute;
	width: 428px;
	height: 45px;
	left: 0px;
	top: 57px;
	overflow: visible;
}
#pouting_emoji {
	opacity: 0.304;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#crying_emoji {
	opacity: 0.302;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 77px;
	top: 0px;
	overflow: visible;
}
#worried_emoji {
	opacity: 0.299;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 153px;
	top: 0px;
	overflow: visible;
}
#neutral_emoji {
	opacity: 0.3;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 230px;
	top: 0px;
	overflow: visible;
}
#smiling_emoji {
	position: absolute;
	width: 45.368px;
	height: 44.72px;
	left: 306.072px;
	top: 0px;
	overflow: visible;
}
#joyful_emoji {
	opacity: 0.295;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 383px;
	top: 0px;
	overflow: visible;
}
#How_are_you_feeling_right_now {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 398px;
	height: 27px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(93,63,53,0.6);
}
#divider {
	opacity: 0.6;
	fill: transparent;
	stroke: rgba(198,180,168,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.divider {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 760px;
	left: 852px;
	top: 193px;
	transform: matrix(1,0,0,1,0,0);
}
#Today_is_Saturday_February_25 {
	left: 436px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 560px;
	height: 54px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(135,95,74,1);
}
#back_arrow_icon {
	position: absolute;
	width: 51.38px;
	height: 51.38px;
	left: 225px;
	top: 121px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Journal_Main.html;
	cursor: pointer;
}
#Nav_Bar {
	position: absolute;
	width: 981px;
	height: 70px;
	left: 225px;
	top: 31px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(254,249,244,1);
}
.Rectangle_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 999px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#Settings {
	left: 847px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Analytics {
	left: 709px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Forms {
	left: 592px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Journal {
	left: 474px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Journal_Main.html;
	cursor: pointer;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Reminders {
	left: 318px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#Dashboard {
	opacity: 0.997;
	left: 157px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(135,95,74,1);
}
#sonria_logo {
	position: absolute;
	width: 55px;
	height: 49.42px;
	left: 36px;
	top: 9px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(240,222,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 51px;
	left: 124px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}