body{
    background: #E7E2DE;
    font-family: "Poppins";
    color: #5C3F37;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    overflow: scroll;
    margin-top: 50px;
}
.container{
    display: flex;
    /* align-content: flex-start;
    justify-content: space-around; */
    /* align-items: center;
    justify-content:space-between; */
    /* justify-content: center;
    align-items: center; */
    /* text-align: center; */
    /* justify-content: space-between; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* overflow: scroll; */
    
}
#nav-bar{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 400px;
    left: 800px; */
    /* display: flex;
    flex-direction: column; */
    /* display: block; */

}
.left{
    width: 50%;
    display:flex;
    /* justify-content: space-between; */
    /* margin-left: 100px; */
    /* flex-direction: column;
    flex-wrap:wrap; */
    /* justify-content: space-between; */
    margin-left:200px;
}
.right{
    width: 50%;
    display:flex;
    /* justify-content: space-between; */
    /* margin-right: 100px; */
    margin-right:200px;
}
/* left */
input{
    width: 250px;
    height: 30px;
    color: #5C3F37;
    box-sizing: border-box;
}
.input-box{
    padding: 5px;
}
::placeholder{
    color: #5C3F37;
}
.repeat-container{
    /* box-shadow: 0 0 30px rgba(0, 0, 0, .1); */
    width: 235px;
    height: 150px;
    /* box-sizing: border-box; */
    background-color: #eadad6;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}
form{
    background-color: #eadad6;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}
h4{
    display: inline;
    margin: 10px;
    position: relative;
    /* float:left; */
}
.repeat-container p { 
    margin-left: 10px;
    font-size: smaller;
    font-style: italic;
    text-align: center;
    /* display: inline; */
    color: #5c3f374d;
}
p{
    display: inline;
    padding-left: 10px;
    font-size: smaller;
    position: relative;
    float:left;
}
.btn{
    /* display: flex; */
    /* position: relative;
    float:left; */
    align-items: start;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    width: 40px;
    height: 40px;
    margin-left: 8px;
    font-family: "Poppins";
    color:#5C3F37;
    font-size: larger;
    
}
/* https://stackoverflow.com/questions/58120283/hr-tag-shows-a-line-in-2-colors-against-a-colored-background */

.notes-container{
    /* box-shadow: 0 0 30px rgba(0, 0, 0, .1); */
    margin-top: 10px;
    width: 235px;
    height: 150px;
    background-color: #EADAD6;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
.notes-container h3{
    position: relative;
    bottom: 25px;
    /* background-color: #FEF9F4; */
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 30px;
}
.note ul{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.note li{
    /* display: flex;
    justify-content: start;
    align-items: start; */
    font-size: xx-large;
    position: relative;
    top: -50px;
    margin: -10px;
    
}
li span{
    font-size: medium;
    position: relative;
    top: -5px;
}
/* left end */
/* calender start */

.calender{
    position:relative;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    color: #5C3F37;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
.calender .month{
    width: 78%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    padding-bottom: 20px;
    background-color: #FEF9F4;
    border-radius: 20px;
}
.calender .month .prev, .calender .month .next {
    cursor: pointer;
}
.calender .weekdays{
    /* width: 100px; 
    height: 10px; */
    /* margin: 20px; */
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content:space-evenly;
    /* padding: 0 10px; */
    position: relative;
    bottom: 0px;
    font-size: medium;

}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
    bottom: 0px;
    left: 15px;

}

.day{
    font-size: medium;
    margin: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border: 5px solid #CFA99F;
    border-radius: 100px;
    background: #CFA99F;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    cursor: pointer;
}
.inactive{
    background:#A5A58E;
    border-color: #A5A58E;
}
.calender .days :hover{
    border: 5px solid #f4c9bf;
    border-radius: 100px;
    background: #f4c9bf;
}
/* calender end */
.submit-btn{
    width: 100px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 0px;
    background-color: #FFF3E8;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
/* The switch - the box around the slider */
/* W3 start */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* right: 25px; */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #A5A58E;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #A5A58E;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* w3 end */