body{
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E7E2DE;
    min-height: 100vh;
    overflow: scroll;
    margin-top: 50px;
    color: #5C3F37;
}
.container{
    position: relative;
    /* width: 1200px; */
    /* min-height: 850px; */
    /* margin: 0 auto; */
    /* padding: 5px; */
    color: #5C3F37;
    display: flex;
    /* border-radius: 20px;
    background-color: lightgrey; */
    
}
.right{
    width: 60%;
    padding: 20px;
    /* float: right; */
}
.calender{
    position:relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    color: #5C3F37;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
.calender .month{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    padding-bottom: 20px;
    background-color: #FEF9F4;
    border-radius: 20px;
}
.calender .month .prev, .calender .month .next {
    cursor: pointer;
}
.calender .weekdays{
    /* width: 100px; 
    height: 10px; */
    /* margin: 20px; */
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content:space-evenly;
    /* padding: 0 10px; */
    position: relative;
    bottom: 0px;
    font-size: medium;

}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items:center; */
    justify-content: start;
    position: relative;
    bottom: 0px;
    left: 10px;
    /* margin-right: 30px; */
    /* justify-content:space-around; */
    /* margin-bottom: 20px; */
    
    /* padding: 0 20px; */
    /* padding: 50px; */
    
    /* font-size: small; */
    /* margin-left: 10px;
    margin-right: 10px; */
}
/* .days:nth-last-child(-n+3) {
    justify-content: start;
} */
.day{
    font-size: large;
    margin: 15px;
    /* margin-top: 20px; */
    /* margin-right: 20px;
    margin-bottom: 20px; */
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
    width: 25px;
    height: 25px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border: 5px solid #CFA99F;
    border-radius: 100px;
    background: #CFA99F;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    cursor: pointer;
}
/* .days{
    
} */
.calender .days :hover{
    border: 5px solid #f4c9bf;
    border-radius: 100px;
    background: #f4c9bf;
}
.date{
    font-size: larger;
}
.today{
    border: 5px solid #5C3F37;
}
.inactive{
    background:#A5A58E;
    border-color: #A5A58E;
}
.event{
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 10px;
    right: 5px;
}
.left{
    margin-top: 20px;
    position: relative; 
    width:40%;
    height: 460px;
    /* min-height: 100%; */
    padding: 20px;
    background-color: #CFA99F;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    
}
.today-date{
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px lightgray;
}
.task-time{
    font-size: smaller;
    text-align: left;
    position: relative;
    left: 20px;
}
/* .tasks{
    position: relative;
    float:left;
} */
.task{
    /* width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 5px; */
    /* display: flex; */
    /* list-style-position: inside; */
    background-color:#cfa99f72;
    
}
/* .event{
    position: relative;
    width: 95%;
    align-items: center;

} */
li span{
    position: relative;
    left: -100px;
}
.icon{
    float: left;
    margin-right: 5px;
    font-size: xx-large;
    color: #A5A58E;
    text-shadow: 1px 1px 2px darkslategrey;

}
.greeting{
    margin-top: 10px;
}
.btn{
    width: 150px;
    height: 50px;
    position: relative;
    bottom: 40px;
    left: 210px;
    background-color: #F9EBD6;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
    font-family: "Poppins";

}
.btn:hover{
    background-color: #f7f3ed;
}
.today-task, .upcoming-task, .priorities{
    background-color: #F9EBD6;
    margin: 5px;
    text-align: center;
}